body{
    background-color: #EEE5D7;
}
.header1{

    justify-content: space-between;
    background-color: #A29D85;


}
.container{

    margin: 0 auto;
    width: 80%;

}
.header2{
    justify-content: space-between;
    background-color: #7B7455;
}

